:root
{
    --main-color : #114064;
}
.dropdown
{
    position: relative;
    display: flex;
    color: whitesmoke;
    margin-left: 70px;
    margin-top: 10px;
    cursor: pointer;
    font-family: monospace;
}
.dropdownContent
{
    border-radius: 8px;
    margin-top: 30px;
    margin-left: -5px;
    display: none;
    position: absolute;
    color: var(--main-color);
    background-color: white ;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border: solid 2px var(--main-color);
}
@keyframes animation {
  from{
   
    opacity: 0;
    
  }
 
  to{

    opacity: 1;
  }
}
@keyframes creationAnimation {
  from{
   
    width: 200px;
    
  }
 
  to{

    width: 240px;
  }
}
.algo
{
    cursor: pointer;
    border-bottom: solid 0.5px whitesmoke;
    margin-top: 7px;
    padding: 4px 8px;
    width: 200px;
    font-weight: bolder;
    animation-name: creationAnimation;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.algo:hover
{
  
    cursor: pointer;
    border-bottom: solid 0.5px whitesmoke;
    margin-top: 7px;
    padding: 4px 8px;
    width: 240px;
    background-color: var(--main-color);
    color: whitesmoke;
    border-radius: 5px;
    animation-name: animation;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.dropdown:hover .dropdownContent {
    display: block;
  }
  .dropdown:hover .dropdownContent:hover {
    display: block;
  }
  .label
  {
    flex: 1;
    margin-right: 15px;  
    margin-top: 4px;
    font-weight: bolder;
  }
  .icon
  {
    flex: 1;
    margin-bottom: 5px;
  }
  @keyframes btnAnimation {
    from{
     
      width: 100px;
    }
   
    to{
  
      width: 130px;
    }
  }
 .btn
 {
   
   background-color: whitesmoke;
   padding: 9px 15px;
   border-radius: 7px;
   border: var(--main-color);
   color: var(--main-color);
border: solid var(--main-color) ;
outline: none;
  cursor: pointer;
  
 }
 .btn:hover
 {
   z-index: 3;
   background-color: whitesmoke;
   padding: 9px 15px;
   border-radius: 7px;
   border: var(--main-color);
   color: var(--main-color);
border: solid var(--main-color) ;
outline: none;
  cursor: pointer;
  animation-name: btnAnimation;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  
 }
 .btn-cover
 {
   border: solid 2px whitesmoke;
   border-radius: 7px;



 }

 .btn1
 {
  
   background-color: var(--main-color);
   padding: 9px 15px;
   border-radius: 7px;
   border: whitesmoke;
   color: whitesmoke;
border: solid whitesmoke ;
outline: none;
  cursor: pointer;
  text-align: center;
  
 }
 .btn1:hover
 {
   z-index: 3;
   background-color: var(--main-color);
   padding: 9px 15px;
   border-radius: 7px;
   border: whitesmoke;
   color: whitesmoke;
border: solid whitesmoke ;
outline: none;
  cursor: pointer;
  animation-name: btnAnimation;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  
 }
 .btn1-cover
 {
   border: solid 2px var(--main-color);
   border-radius: 7px;


 }