:root
{
    --main-color : #114064;
}
.node
{
    height: 24px;
    width: 24px;
    border: solid 1px #dcdcdc ;
    align-items: center;
    cursor: auto;
    
    
}
@keyframes animation {
  from{
   
    
    border: solid 1px #dcdcdc ;
  }
 
  to{

   
    border: solid 1px var(--main-color) ;
  }
}
/* The element to apply the animation to */
.barrier {
    background-color: var(--main-color);
    animation-name: animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  
}
.start
{
  background-color: #ebd408;
  border: solid 1px #ebd408 ;
  
}
.end
{
  background-color: black;
 
  border: solid 1px black ;
}