:root
{
    --main-color : #114064;
    --a : 28px;
}
.node
{
    height: var(--a);
    width: var(--a);
    border: solid 1px #dcdcdcf3 ;
    align-items: center;
    cursor: auto;
    
    
    
}
@keyframes animation {
  from{
   
    
    border: solid 1px #dcdcdc ;
  }
 
  to{

   
    border: solid 1px var(--main-color) ;
  }
}
/* The element to apply the animation to */
.barrier {
    background-color: var(--main-color);
    animation-name: animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  
}
.start
{
  background-image: url('start.png');
  background-position-x: center;
  background-position-y: center;
  background-size: 35px;
  border: solid 1px whitesmoke ;
  cursor: pointer;
  
}
.end
{
  
  background-image: url('end.png');
  background-position-x: center;
  background-position-y: center;
  background-size: 32px;
  border: solid 1px whitesmoke ;
  cursor: pointer;
}
@keyframes pathAnimation {
  from{
   
    
    background-color: gray ;
  }
 
  to{

   
    background-color: #008c8c;
   
  }
}
@keyframes visitedAnimation {
  from{
   
    
    background-color: yellowgreen ;
  }
 
  to{

   
    background-color: yellow;
   
  }
}
.path
{
  background-color: #008c8c;
 
  border: solid 1px #008c8c ;
  animation-name: pathAnimation;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.visited
{
  background-color: rgb(255, 254, 106);
 
  border: solid 1px #dcdcdcf3 ;
  animation-name: visitedAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}